@use '@/shared/styles/tokens' as *;
@use '@/shared/styles/mixins' as *;

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0;
  border-top: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);

  > * {
    border-right: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }

  @include sm {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include md {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include lg {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
